.next

web/.env
web/bun.lockb
web/package-lock.json

backend/.env
backend/myenv
backend/.venv
backend/env

backend/__pycache__
backend/faiss_index

backend/yt-talk
backend/media
backend/transcripts
backend/transcripts
backend/media
backend/transcripts
backend/audio
backend/logs
backend/test/__pycache__
extension/node_modules
extension/build

pb_data/
